# Spotify API Configuration
VITE_SPOTIFY_CLIENT_ID=your_spotify_client_id_here

# Application Configuration
VITE_REACT_APP_API_URL=http://127.0.0.1:8000
VITE_REACT_APP_REDIRECT_URI=http://127.0.0.1:8888/callback 